;; This file mirrors vital parts of `project.clj`
;; It exists only to add possibility to include this project as a git dependency

{:paths ["src"]

 ;; [org.clojure/clojure "1.5.1"]
 ;;   [com.taoensso/encore "2.88.1"]
 ;;   [com.taoensso/nippy  "2.12.2"]
 ;;   [joda-time           "2.9.6"]
 ;;   [com.amazonaws/aws-java-sdk-dynamodb "1.11.563"
 ;;    :exclusions [joda-time]]]
 :deps {org.clojure/clojure {:mvn/version "RELEASE"}
        com.taoensso/encore {:mvn/version "2.88.1"}
        com.taoensso/nippy {:mvn/version "2.12.2"}
        joda-time {:mvn/version "2.9.6"}
        com.amazonaws/aws-java-sdk-dynamodb {:mvn/version "1.11.563"
                                             :exclusions [joda-time]}}
 :mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"}
  "clojars" {:url "https://clojars.org/repo"}
  "sonatype-oss-public" {:url "https://oss.sonatype.org/content/groups/public/"}}}
